
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // USER PROFILES
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    // NOTIFICATIONS
    match /users/{userId}/notifications/{notificationId} {
      allow read, write: if isOwner(userId);
    }
    
    // USER SUBCOLLECTIONS
    match /users/{userId}/bookings/{docId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/applications/{applicationId} {
      allow read, create, delete: if isOwner(userId);
      allow update: if get(/databases/$(database)/documents/jobs/$(resource.data.jobId)).data.employerId == request.auth.uid;
    }

    match /users/{userId}/favoriteJobs/{favoriteId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/favoriteRooms/{favoriteId} {
      allow read, write: if isOwner(userId);
    }

    // PUBLIC JOB LISTINGS
    match /jobs/{jobId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.employerId == request.auth.uid;
      allow update, delete: if isOwner(resource.data.employerId);
    }
    
    match /jobs/{jobId}/applicants {
        allow list: if get(/databases/$(database)/documents/jobs/$(jobId)).data.employerId == request.auth.uid;
    }

    match /jobs/{jobId}/applicants/{applicantId} {
        allow get: if get(/databases/$(database)/documents/jobs/$(jobId)).data.employerId == request.auth.uid ||
                       (request.auth != null && resource.data.seekerId == request.auth.uid);
        allow create: if request.auth != null && request.resource.data.seekerId == request.auth.uid;
        allow delete: if get(/databases/$(database)/documents/jobs/$(jobId)).data.employerId == request.auth.uid ||
                       (request.auth != null && resource.data.seekerId == request.auth.uid);
        allow update: if get(/databases/$(database)/documents/jobs/$(jobId)).data.employerId == request.auth.uid;
    }

    // PUBLIC ROOM LISTINGS
    match /rooms/{roomId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if isOwner(resource.data.ownerId);
    }

    match /rooms/{roomId}/ratings/{ratingId} {
        allow read: if true;
        allow write: if request.auth != null && ratingId == request.auth.uid;
    }
  }
}
